<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wd.tech">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <!--获取设备唯一标识，用于SDK激活授权-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".application.WDApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.PublishActivity" />
        <activity android:name=".activity.FriendsPostActivity" />
        <activity android:name=".activity.NoNetWorkActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".activity.myactivity.MyCollectActivity" />
        <activity android:name=".activity.myactivity.MyAttentionActivity" />
        <activity android:name=".activity.myactivity.MyCardActivity" />
        <activity android:name=".activity.myactivity.MyNoticeActivity" />
        <activity android:name=".activity.myactivity.MyInteGralActivity" />
        <activity android:name=".activity.myactivity.MyTaskActivity" />
        <activity android:name=".activity.myactivity.MySettingActivity" />
        <activity android:name=".activity.myactivity.SignActivity" />
        <activity android:name=".activity.InterestActivity" />
        <activity android:name=".activity.PictureDisplayActivity" />
        <activity android:name=".activity.WebDetailsActivity" />
        <activity android:name=".activity.InterestDetailsActivity" />
        <activity android:name=".activity.AddFriendActivity" />
        <activity android:name=".activity.AddFriendsActivity"></activity>
        <activity android:name=".activity.InterestDetailsActivity" />
        <activity android:name=".activity.SearchActivity" />
    </application>

</manifest>